
@model FoldersVM

<div class="row justify-content-center mb-3">
    <div class="col-md-6 col-10">
        <div class="input-group">
                <input type="text" id="folderSearch" class="form-control" placeholder="Search folders...">
            <a asp-controller ="Folder" asp-action="Index" 
                class="btn btn-primary">
                <i class="bi bi-search"></i>
            </a>
        </div>
    </div>
</div>
       
<div class="container-fluid">
    <div class="row justify-content-center pb-3">
        @foreach(var folder in Model.folders)
        {      
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">
                        @if(folder.UserId == Model.userId)
                        {
                            <a asp-controller="Folder" asp-action="Delete" asp-route-id="@folder.Id"
                               class=" btn btn-sm btn-light position-absolute top-0 start-0 mft-2 ms-2 rounded-circle"
                               style="color:#fff; ">
                                <i class="bi bi-trash" style="color:#2596be"></i>
                            </a>
                            <a asp-controller="Folder" asp-action="UpSert" asp-route-id="@folder.Id"
                               class="btn btn-sm btn-primary position-absolute top-0 end-0 mt-2 me-2 rounded-circle"
                               style="color:#2596be;">
                                <i class="bi bi-pencil-square" style="color:white"></i>
                            </a>
                        }
                        <i class="bi bi-folder text-center" style="font-size: 6rem; color:#2596be;"></i>
                        <div class="card-body pb-0 pt-0">
                            <div class="pl-1">
                                <p class="card-title  h5 text-dark text-uppercase text-center">@folder.Name</p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center">@folder.Description</p>
                            </div>
                        </div>
                        <div>
                            <a asp-controller="CardSet" asp-action="Index" asp-route-id="@folder.Id" class="btn btn-primary bg-gradient border-0 form-control">Select</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>